#companies-background {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
    background-color: #f3f5fa;
}

#companies {
    padding: 0 0;
    display: flex;
    justify-content: center;
}

#companies-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

#companies-grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.flex-grid {
    flex: 0 0 auto;
    width: 50%;
}

@media (min-width: 768px){
    .flex-grid {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (min-width: 992px){
    .flex-grid {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
}

#companies-grid > div > img {
    width: 42%;
    filter: grayscale(100%);
    padding: 15px 0;
    transition: all 0.4s ease-in-out;
}

#companies-grid > div > img:hover {
    width: 45%;
    filter: grayscale(0%);
}
