

@media screen and (max-width: 991px) {
    #introduction-innerbox {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        text-align: center;
        align-items: center;
        margin-bottom: -200px;
        height: 100vh;
    }
    #introduction-buttonbox {
        display: flex;
        justify-content: center;
    }
    #introduction-box {
        height: 90vh;
    }
    #introduction-innerbox > div:nth-of-type(2) {
        display: flex;
        justify-content: center;
        width: 348px;
        margin-bottom: 20px;
    }
    #intro-image {
        animation-name: none;
    }
    #header-menubox, #current-device {
        opacity: 0;
        width: 0;
        pointer-events: none;
    }
    #header-logo {
        margin-top: 5px;
    }
    #header-hamburgerBt > div {
        width: 20px;
        height: 1.5px;
        background-color: white;
        border-radius: 1px;
    }
    #header-hamburgerBt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 15px;
        cursor: pointer;
    }
}


.section-list li {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}

.section-list li:hover,
.section-list li.active {
    background: #47b2e4;
    color: #fff;
}
.section-button ul{
    display: flex;
    margin-bottom: 0;
}

.section-button {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding-left: 32px;
}

.section-2 {
    background-color: #f3f5fa;
}

.team_card {
    display: flex;
    align-items: center;
    width: 636px;
    height: 233.83px;

    background-color: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    margin-bottom: 25px;
    transition: transform 0.3s ease-in-out;
}

.member {
    width: 173.83px;

    border-radius: 100px;

    margin-left: 30px;
    margin-right: 30px;
}

.name {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 2rem;
    color: #37517e;
}

.job {
    display: block;
    font-size: 1.5rem;
    padding-bottom: 10px;
    position: relative;
    font-weight: 400;
    color: #444444;
}

.info {
    font-size: 1.4rem;
    margin-top: 10px;
    line-height: 19px;
}

.sns {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bottom {
    width: 50px;
    height: 1px;
    background-color: #cbd6e9;
}

.team-card1 {

    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sns li {
    cursor: pointer;
    display: inline-block;
    /* margin: 10px 5px; */
    color: #444444;
    transition: all 0.3s;
    padding: 8px 8px 8px 8px;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    background-color: #eff2f8;
    margin-right: 6px;
}

.sns li svg {
    fill: #37517e;
}

.sns img {
    display: flex;
    justify-content: center;
    width: 15px;
}

.sns li:hover,
.sns li.active {
    background: #47b2e4;
    color: #fff;
}

.sns li:hover > svg {
    fill: white;
}

.team_card:hover {
    transform: translateY(-10px);
    transition: transform 0.4s ease-in-out;
}

.team_card:not(:hover) {
    transform: translateY(0);
}

.price-card {
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    width: 416px;
    height: 573.19px;

    margin-right: 25px;

    border-radius: 5px;
}

.price-list {
    padding: 60px 40px;
}

.price {
    display: flex;
    font-size: 4.8rem;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;

    margin-top: 20px;
}

.price1 {
    font-size: 2.8rem;
}

.per {
    color: #47b2e4;
    font-size: 1.8rem;
    font-family: "Jost", sans-serif;
}

.content-box {
    margin-top: 50px;
}

.content {
    display: flex;
    font-size: 1.6rem;
    color: #999999;
}

.content img {
    width: 14px;
    height: 14px;

    margin-right: 12px;
    margin-bottom: 20px;
}

.price-button {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;

    margin-top: 40px;
}

.get-button:hover {
    background: #22a3df;
    transition: 0.3s;
    color: #fff;
}

.get-button {
    background-color: #47b2e4;
    color: #fff;
    display: inline-block;
    padding: 13px 36px;
    border-radius: 50px;
    transition: none;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    margin-top: 40px;
}

.price-button:hover,
.price-button.active {
    background: #47b2e4;
    color: #fff;
}

.content-title {
    text-decoration: line-through;
    color: #cccccc;
}

.section-3 {
    display: flex;
    justify-content: center;
    padding-left: 12px;
    padding-top: 40px;
}

.fixed-buttom-box {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.fixed-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #47b2e4;

    width: 40px;
    height: 40px;

    border-radius: 100px;
}

.fixed-buttom img {
    width: 12px;
    height: 12px;
}

.sns li:hover img {
    filter: brightness(0) invert(1);
}

.sns li img {
    filter: invert(0);
    transition: filter 0.3s ease-in-out;
}
.para_font {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
}
.price-name {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #37517e;
}

